{% extends "base.html" %}

{% block pagename %}
    <title>Miko Iino</title>
{% endblock %}

{% block favicon %}
    <link rel="icon" href="{{ url_for('static', filename='img/admin_favicon.ico') }}">
{% endblock %}

{% block admin %}
    <li><a href="/logout">Logout</a></li>
{% endblock %}

{% block content %}
    <div class="homepage">
        <h1>Welcome to admin page!</h1>

        <blockquote class="blockquote">
            <p class="mb-0">Then, if you take one step outside of that space, I can confiscate your device.</p>
            <footer class="blockquote-footer">Miko Iino <cite title="Source Title">( ミコ 伊井野 )</cite></footer>
        </blockquote>

        <hr/>

        <div class="row">
            <img src="{{ url_for('static', filename='img/miko.jpg') }}" alt="Miko" class="center"/>
        </div>

        <hr/>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} text-center container">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h3>Currently available tasks:</h3>
        <div class="list-group dark">
            {% for task in tasks %}
                <a href="/edit?id={{ task.id }}"
                   class="list-group-item list-group-item-action">{{ task.name }}</a>
            {% endfor %}
            <hr/>
            <a href="/edit" class="list-group-item list-group-item-action bg-warning">New task</a>
        </div>

    </div>
{% endblock %}