<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AnyKeyShik tasks">
    <meta name="author" content="AnyKeyShik Rarity">

    {% block pagename %}{% endblock %}

    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
    {% block favicon %}{% endblock %}
</head>

<body>
<header class="menu-header">

    <a class="navbar-logo" href="https://anykeyshik.xyz/"><img
                           src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" style='object-fit: contain'></a>

    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

    <nav class="nav">
        <ul class="menu">
            <li><a href="https://anykeyshik.xyz/">Home</a></li>
            <li><a href="https://blog.anykeyshik.xyz">Blog</a></li>
            <li><a href="https://task.anykeyshik.xyz">Tasks</a></li>
            <li><a href="https://projects.anykeyshik.xyz">Projects</a></li>
            {% block admin %}{% endblock %}
        </ul>
    </nav>
</header>

<br/>
<br/>
<br/>

<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
