{% extends "base.html" %}

{% block pagename %}
    <title>Kongou</title>
{% endblock %}

{% block favicon %}
    <link rel="icon" href="{{ url_for('static', filename='img/favicon_kongou.ico') }}">
{% endblock %}

{% block content %}
    <div class="task">
        <h1>Edit task</h1>

        <hr/>
        <div class="list-group dark">
            <a href="/admin" class="list-group-item list-group-item-action bg-info center">Cancel
                edit</a>
        </div>
        <hr/>

        <blockquote class="blockquote">
            <p class="mb-0">After this battle, I want to drink black tea with the Admiral again!</p>
            <footer class="blockquote-footer">Kongou <cite title="Source Title">( 金剛 )</cite></footer>
        </blockquote>

        <hr/>

        <div class="row">
            <img src="{{ url_for('static', filename='img/kongou.jpg') }}" alt="Kongou" class="center"/>
        </div>

        <hr/>

        <div class="list-group dark">
            <a href="/delete?id={{ task.id }}"
               class="list-group-item list-group-item-action bg-danger center">Delete</a>
        </div>

        <hr/>

        <form method="POST" action="" enctype="multipart/form-data" class="center">
            {{ form.csrf_token }}
            <fieldset class="form-group">
                <br/>
                <br/>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{ form.task_name(class="form-control form-control-lg", type="text", placeholder="Title") }}
                        {{ form.task_cond(class="form-control form-control-lg", type="text", placeholder="Condition") }}
                        {{ form.task_credo(class="form-control form-control-lg", type="text", placeholder="Credo") }}
                        {{ form.task_file(class="form-control form-control-lg") }}
                        {{ form.task_flag(class="form-control form-control-lg", type="text", placeholder="Flag") }}
                        <label class="checkbox">
                            {{ form.task_enable }}
                            Enabled
                        </label>
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
{% endblock %}
