{% extends "base.html" %}

{% block pagename %}
    <title>Chisaki Hiradaira</title>
{% endblock %}

{% block favicon %}
    <link rel="icon" href="{{ url_for('static', filename='img/favicon_chisaki.ico') }}">
{% endblock %}

{% block content %}
    <div class="homepage">
        <h1>Welcome to my home!</h1>

        <blockquote class="blockquote">
            <p class="mb-0">Does becoming adult mean you lose a lot of things?</p>
            <footer class="blockquote-footer">Chisaki Hiradaira <cite title="Source Title">( 比良平 ちさき )</cite></footer>
        </blockquote>

        <hr/>

        <div class="row">
            <img src="{{ url_for('static', filename='img/chisaki.png') }}" alt="Chisaki" class="center"/>
        </div>

        <hr/>

        <h3>Currently available tasks:</h3>
        <div class="list-group dark">
            {% for task in tasks %}
                <a href="/task?id={{ task.id }}"
                   class="list-group-item list-group-item-action">{{ task.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
