{% extends "base.html" %}

{% block pagename %}
    <title>Haruhi Suzumiya</title>
{% endblock %}

{% block favicon %}
    <link rel="icon" href="{{ url_for('static', filename='img/favicon_haruhi.ico') }}">
{% endblock %}

{% block content %}
    <div class="task">
        <h1>{{ task.name }}</h1>

        <blockquote class="blockquote">
            <p class="mb-0">Dreams start by believing.</p>
            <footer class="blockquote-footer">Haruhi Suzumiya <cite title="Source Title">( ハルヒ 涼宮 )</cite></footer>
        </blockquote>

        <hr/>

        <div class="row">
            <img src="{{ url_for('static', filename='img/haruhi.jpg') }}" alt="Haruhi" class="center"/>
        </div>

        <br/>

        <blockquote class="blockquote">
            {{ task.condition|safe }}
        </blockquote>

        {% if task.files %}
            <hr/>
            <div class="row center">
                <a href="{{ task.files }}" class="btn btn-primary center">Download task</a>
            </div>
        {% endif %}

        <br/>
        <br/>
        <br/>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} text-center container">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if task.flag %}
            <form method="post" action="" class="center">
                {{ form.csrf_token }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{ task.credo }}</legend>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            {{ form.flag(class="form-control form-control-lg", type="text", placeholder="Flag") }}
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
